/* Add all your styles to this style sheet */
/* Color Codes 
  Red  - #A62338         Gray - #D9D9DB        
  Blue - #002E59         Teal - #007E8C
*/
body{
  background-color:ivory
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: inherit;
}
#container{
  background-color: lavenderblush;
  width: 96%;
  margin: 0;
}
#hero{
  background-color: rgb(45, 155, 192);
  background-image: url("/images/books.jpg");
  background-size: cover;
  height: 300vh;
  color: aliceblue;

}
#sitetext{
  background-color: black;
  padding: 25;
}
h1{
  font-size: 70px;
  font-weight: 400;
}
h2{
  font-weight: 400;
}
#steps{
  align-items: center;
  margin: 30px;
  font-size: 35px;
  max-width: 35%;
}
.numb{
  background-color: red;
  color: whitesmoke;
  padding: 0%;
}
h3{
  margin: 15px;
}
.item a :hover{
  background-color: bisque;
  color: brown;
}
img{
filter: grayscale(10s);
}
